<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img class="logoApp" src="/assets/imgs/logo-app.svg" ></ion-img>
      <ion-card-header>
        <ion-card-title align="center">QrInventory</ion-card-title>
        <ion-card-subtitle align="center">Bienvenido</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p align=justify >QrInventory es una aplicacion con la cual se puede crear inventarios de una manera rapida y sencilla por medio de codigos QR, empleando la camara del telefono movil y al finalizar obtener un inventario de todos los productos realizados.</p>
      </ion-card-content>
      <ion-img class="logoComunidad" src="/assets/imgs/logo-comunidad.png" ></ion-img>
    </ion-card>
</ion-content>
